@import "../../../../app/styles/display.scss";

.date-filter-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-filter-section {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  .left-align {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.filter-result-section {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 350px;
  overflow-y: auto;
  table {
    a {
      text-decoration: none;
      color: unset;
    }
  }
}

.bottom-total-section {
  display: inline;
  h6 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.mob {
  display: inline;
}

.desk {
  display: none;
}

@media only screen and (min-width: 660px) {
  .header {
    display: flex;
  }

  .mob {
    display: none;
  }

  .desk {
    display: inline;
  }

  .main-filter-section {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}