<nb-layout>

  <nb-layout-header fixed>
    <h1>Time Tracker</h1>
  </nb-layout-header>

  <nb-layout-column>
    API Results:
    <pre>
      {{ results | json }}
    </pre>

    <div [formGroup]="testEntry">
      <label for="message">Message:</label><br>
      <input type="text" id="message" formControlName="message"><br><br>
      <input type="submit" (click)="submitForm()">
    </div> 
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>GVSU CIS 1</p>
  </nb-layout-footer>

</nb-layout>
