.container {
  width: 100% !important;
  padding: unset !important;
  overflow-x: hidden;
}

.header {
  background-color: #232d9a;
  background-image: linear-gradient(#232d9a, #3045c9);
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  app-navbar {
    width: 100%;
  }
}

::ng-deep .nb-theme-dark nb-layout-header nav {
    padding: unset! important;
    height: unset! important;
}