
.container {
    min-width: 100%! important;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
}

/* Media query for desktop viewport targets screens a minimum width of 830px. */
@media only screen and (min-width: 830px) {
}
