.header {
    background-color: #232d9a;
}

nb-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-group {
    padding: 10px;
}

.register-container {
    margin: auto;
    text-align: center;  
}

.error {
    color: red;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
    .register-container {
        margin: auto;
        width: 500px; 
        text-align: center;  
    }

}
