<nb-layout-column class="column">
    <nb-card class="register-container">
      <nb-card-header>
        <h4 class="text-black">Register</h4>
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
          <div class="form-group">
            <input
              type="name"
              nbInput
              fullWidth
              status="primary"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>
           <div class="form-group">
            <input
              type="name"
              nbInput
              fullWidth
              status="primary"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              nbInput
              fullWidth
              status="primary"
              placeholder="Email address"
              formControlName="email"
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              nbInput
              fullWidth
              status="primary"
              placeholder="Password"
              formControlName="password"
            />
          </div>
        <div class="form-group">
            <input
              type="password"
              nbInput
              fullWidth
              status="primary"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
          </div>

          <p class="error" *ngIf="error">{{ error }}</p>
          
          <div class="form-group">
            <button 
              nbButton 
              fullWidth 
              status="success" 
              [nbSpinner]="isLoading"
              [disabled]="isLoading"
              nbSpinnerStatus="success">
              Register
          </button>
          </div>
          <nb-actions>
            <nb-action>Already a member? <span style="margin-left:3px" class="clickable" routerLink="/auth/login" [queryParams]="{inviteCode: activatedRoute.snapshot.queryParamMap.get('inviteCode')}">Login</span></nb-action>
          </nb-actions>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
