<nb-card
  class="container"
  [nbSpinner]="showLoadingSpinner"
  nbSpinnerStatus="success"
>
<nb-card-body>
  <h4 class="text-black">Edit Time Entry</h4>

  <form [formGroup]="EditTimeForm" *ngIf="projects">
    <div class="form-field">
      <label for="Project">Project</label>
      <nb-select placeholder="Projects" status="primary" [(selected)]="selectedItem" formControlName="projectName">
        <nb-option [value]="p.id" *ngFor="let p of projects">{{ p.name }}</nb-option>
      </nb-select>
    </div>

    <div class="form-field">
      <label for="notes">Notes</label>
      <textarea
        nbInput
        id="notes"
        placeholder="Notes (optional)"
        status="primary"
        fullWidth
        formControlName="notes"
      ></textarea>
    </div>

    <div class="form-field">
      <label for="time">Time</label>
      <input
        type="text"
        id="time"
        nbInput
        status="primary"
        placeholder="0:00"
        formControlName="time"
      />
    </div>

    <div class="actions-footer">
      <button nbButton status="success" type="submit" (click)="updateEntry(EditTimeForm)">Update Entry</button>
      <button nbButton status="danger" type="submit" (click)="deleteEntry(EditTimeForm)">Delete Entry</button>
      <button nbButton status="warning" type="button" (click)="closeDialog()">
        Cancel
      </button>
    </div>
  </form>
  </nb-card-body>
</nb-card>
