.container {
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    width: min(500px, 95vw);
    overflow: hidden;
    font-family: Open Sans, sans-serif;
  }
  
  .form-field {
    label {
      display: block;
    }
  
    nb-select, input, textarea {
      margin-top: 2px;
      margin-bottom: 10px;
      width: 100%! important;
      max-width: unset! important;
    }
  }
  
  h4 {
    margin-top: 0px;
  }
  
  .actions-footer {
    button {
      margin-right: 10px;
      margin-top: 10px;
    }
  }