#mobile{
    display: inline;
}
#desktop{
    display: none;
}
.nav {
  background-color: #232d9a !important;
}




/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
    #mobile{
        display: none;
    }
    #desktop{
        display: inline;
        min-width: 100%;
    }
}

/* Media query for desktop viewport targets screens a minimum width of 830px. */
@media only screen and (min-width: 830px) {
}
