<div class="container">
  <div class="intro-section">
    <a class="intro-text">Time tracking <br class="text-break">made <span class="colored-word">EASY</span><br>
    </a>
    <a class="intro-text-bottom">
      <span class="small-text">Time tracking software designed for universities. <br>
      <span class="ext-text">NTIME is a time tracker that helps faculty and students <br> with project time management.
      </span></span>
    </a>
  </div>

  <div class="tracker-example-section">
    <img src="assets/tracker-example.png" alt="intro" />
  </div>

  <div class="footer">
    <p>
    <a class="logo" aria-label="NTime" (click)="homeClick()">NTIME</a>
    </p>
  </div>
</div>
