.color-container {
  background-color: #232d9a;
  background-image:
  linear-gradient(
    #3045c9,  #232d9a
  );
  height: 246px;
}

.container {
  nb-action {
    cursor: pointer;
  }
}

.intro-section {
  display: block;
  text-align: center;
  padding: 50px 20px 50px 20px;

  .intro-text,
  .intro-text-bottom {
    display: inline;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgba(252, 252, 252, 1);
    text-decoration: none;
    line-height: 1em;

    .colored-word {
      color: #15db95;
      font-family: "Permanent Marker", handwriting;
      font-weight: 300;
    }
  }
  .intro-text-bottom {
    line-height: .7em;
    padding-top: 5px;
    .small-text {
      color: rgba(0, 0, 0, 1);
      font-size: 25px;

      .ext-text {
        display: none;
      }
    }
  }
}

.tracker-example-section {
  display: block;
  text-align: center;
  padding: 20px;

  img {
    max-width: 100%;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

.footer {
  display: block;
  padding: 20px;
  width: 100%;
  float: left;
  margin-top: 60px;
  .logo {
    font-family: Prompt, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgba(191, 189, 189, 1);
    font-style: normal;
    text-decoration: none;
    letter-spacing: 2.3px;
  }
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
  .color-container {
    height: 299px;
  }

  .intro-section {
    padding: 70px 40px 70px 40px;
    .intro-text,
    .intro-text-bottom {
      line-height: 1.5em;
      .text-break {
        display: none;
      }
      #desk {
        display: none;
      }
    }
    .intro-text-bottom {
      line-height: .7em;
      .small-text {
        color: rgba(0, 0, 0, 1);
        font-size: 25px;

        .ext-text {
          display: inline;
        }
      }
    }
  }

  .tracker-example-section {
    display: block;
    text-align: center;
    padding: 40px;

    img {
      max-width: 100%;
    }
  }

  .footer {
    display: block;
    padding: 40px;
    img {
      width: 100px;
    }
  }
}

/* Media query for desktop viewport targets screens a minimum width of 830px. */
@media only screen and (min-width: 830px) {
  .intro-section {
      #desk {
        display: inline! important;
      }
    }
}

