@import "../../../../app/styles/display.scss";

.container {
  padding-top: 0! important;
  nb-action {
    cursor: pointer;
  }
}

.intro-section::before {
  background-image:
  linear-gradient(
    #3045c9,  #232d9a
  )! important;
  content:" ";
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.intro-section {
  z-index: 1;
  background-image: transparent! important;
  position: relative;
  display: grid;
  text-align: center;
  padding: 50px 10px 50px 10px;

  .intro-text,
  .intro-text-bottom {
    display: inline;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgba(252, 252, 252, 1);
    text-decoration: none;
    line-height: 1em;

    .colored-word {
      color: #15db95;
      font-family: "Permanent Marker", handwriting;
      font-weight: 300;
    }
  }
  .intro-text-bottom {
    line-height: .7em;
    padding-top: 5px;
    .small-text {
      color: rgba(0, 0, 0, 1);
      font-size: 25px;

      .ext-text {
        display: none;
      }
    }
  }
}

.tracker-example-section {
  display: block;
  text-align: center;
  padding: 20px;

  img {
    max-width: 100%;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  }
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
  .color-container {
    height: 299px;
  }

  .intro-section {
    padding: 70px 40px 70px 40px;
    .intro-text,
    .intro-text-bottom {
      line-height: 1.5em;
      .text-break {
        display: none;
      }
      #desk {
        display: none;
      }
    }
    .intro-text-bottom {
      line-height: .7em;
      .small-text {
        color: rgba(0, 0, 0, 1);
        font-size: 25px;

        .ext-text {
          display: inline;
        }
      }
    }
  }

  .tracker-example-section {
    display: block;
    text-align: center;
    padding: 40px;

    img {
      max-width: 100%;
    }
  }
}

/* Media query for desktop viewport targets screens a minimum width of 830px. */
@media only screen and (min-width: 830px) {
  .intro-section {
      #desk {
        display: inline! important;
      }
    }
}

