<div class="container">
  <div class="intro-section">
    <img src="assets/intro-mob.png" class="mob" alt="intro" />
    <img src="assets/intro-desk.png" class="desk" alt="intro" />
  </div>

  <div class="tracker-example-section">
    <img src="assets/tracker-example.png" alt="intro" />
  </div>

  <div class="footer">
    <p>
    <a (click)="homeClick()"> <img src="assets/logo-footer-section.png" alt="logo" /> </a>
    </p>
    <p><a (click)="featuresClick()">Features</a></p>
    <p><a (click)="integrationClick()">Integration</a></p>
  </div>
</div>
