.container {
  margin: 0 auto;
  padding: 0 5% 5% 5%;
  width: 100%;
}

::ng-deep .nb-theme-dark [nbButton].appearance-filled.status-basic,
::ng-deep .nb-theme-dark .appearance-filled.status-basic[nbButtonToggle],
::ng-deep .nb-theme-dark nb-tabset
{
  background-color: #3c465f !important;
  border-color: #3c465f !important;
  color: white !important;
}

button, table, input, nb-select, nb-card, nb-tabset{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


@media only screen and (min-width: 1280px) {
  .container {
    width: 80%;
    max-width: 2560px;
  }
}


