<div class="container">
  <nb-layout-column>
    <h3>Basic Info</h3>

    <div class="line">
      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="firstName">First Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="firstName"
              nbInput
              placeholder="First Name"
              [value]="firstName"
              [disabled]="userInfoLoading"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="lastName">Last Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="lastName"
              nbInput
              placeholder="Last Name"
              [value]="lastName"
              [disabled]="userInfoLoading"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input
              type="email"
              id="email"
              nbInput
              placeholder="Email"
              disabled
              [value]="emailAddress"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-25">
            <button nbButton status="success" [nbSpinner]="userInfoLoading">Update Info</button>
          </div>
        </nb-card-body>
      </div>
    </div>

    <span *ngIf="userInfoError">
      <div class="row">
        <nb-card-body>
          {{userInfoError}}
        </nb-card-body>
      </div>
    </span>

    <h3>Projects</h3>
    <div class="line" [nbSpinner]="userInfoLoading">
      <span *ngIf="projects.length < 1">
        <div class="row">
          <nb-card-body>
            <p>You're currently not part of any projects.</p>
          </nb-card-body>
        </div>
      </span>
      <span *ngFor="let project of projects;">
        <div class="row">
          <nb-card-body>
            <p>{{project}}</p>
          </nb-card-body>
        </div>
      </span>  
    </div>

    <div class="line" [formGroup]="setPasswordForm">
      <div class="row">
        <nb-card-body>
          <h4>Change Password</h4>
          <div class="col-75">
            <input
              type="password"
              nbInput
              fullWidth
              status="primary"
              placeholder="Current Password"
              formControlName="currentPassword"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-75">
            <input
              type="password"
              nbInput
              fullWidth
              status="primary"
              placeholder="New Password"
              formControlName="newPassword"
              [disabled]="passwordInfoLoading"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-75">
            <input
              type="password"
              nbInput
              fullWidth
              status="primary"
              placeholder="Verify New Password"
              formControlName="newPasswordVerification"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-25">
            <button
              nbButton
              status="control"
              (click)="setPassword(setPasswordForm)"
              [disabled]="passwordInfoLoading"
              [nbSpinner]="passwordInfoLoading">
              Change Password
            </button>
          </div>
        </nb-card-body>
      </div>

        <div class="row">
          <nb-card-body>
            {{passwordUpdateStatus}}
          </nb-card-body>
        </div>

    </div>
  </nb-layout-column>
</div>
