<div class="container">
    <h2>Basic Info</h2>
    <div [formGroup]="updateNameForm">
      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="firstName">First Name</label>
          </div>
          <div class="col-75">
            <input
              nbInput
              type="text"
              id="firstName"
              fullWidth
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="lastName">Last Name</label>
          </div>
          <div class="col-75">
            <input
              nbInput
              type="text"
              id="lastName"
              fullWidth
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input
              nbInput
              type="email"
              id="email"
              fullWidth
              placeholder="Email"
              status="primary"
              [value]="emailAddress"
              formControlName="email"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-25">
            <button
              nbButton
              status="success"
              [nbSpinner]="disableNameSubmitButton"
              (click)="setName(updateNameForm)"
            >
              Update Info
            </button>
          </div>
        </nb-card-body>
      </div>
    </div>

    <div class="line" [formGroup]="setPasswordForm">
      <h2>Change Password</h2>
      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="password">Current Password</label>
          </div>
          <div class="col-75">
            <input
              type="password"
              nbInput
              fullWidth
              placeholder="Current Password"
              formControlName="currentPassword"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="password">New Password</label>
          </div>
          <div class="col-75">
            <input
              nbInput
              type="password"
              fullWidth
              placeholder="New Password"
              formControlName="newPassword"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body class="form">
          <div class="col-25">
            <label for="password">Verify New Password</label>
          </div>
          <div class="col-75">
            <input
              nbInput
              type="password"
              fullWidth
              placeholder="Verify New Password"
              formControlName="newPasswordVerification"
            />
          </div>
        </nb-card-body>
      </div>

      <div class="row">
        <nb-card-body>
          <div class="col-25">
            <button
              nbButton
              status="danger"
              (click)="setPassword(setPasswordForm)"
              [disabled]="disablePasswordSubmitButton"
              [nbSpinner]="disablePasswordSubmitButton"
            >
              Change Password
            </button>
          </div>
        </nb-card-body>
      </div>
    </div>

    <h2>Projects</h2>
    <div class="row">
      <table [nbTreeGrid]="projectDataSource" [nbSpinner]="projectsLoading">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="gridHeaders"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: gridHeaders"></tr>

        <ng-container nbTreeGridColumnDef="Name">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            Name
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row"><a [routerLink]="'/dashboard/projects/' + row.data['id']">{{row.data["name"]}}</a></td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Client">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            Client
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["clientName"]}}</td>
        </ng-container>

      </table>
    </div>

    <div id="help"  [nbPopover]="popoverTemplate" nbPopoverTrigger="hint">
      <nb-icon icon="question-mark-circle"></nb-icon>
    </div>
  
    <nb-layout id="popoverStyle">
      <ng-template #popoverTemplate>
        <p>
          This is your Profile page, where all of the details of your NTime account are listed.<br><br>
          <u>Update Your First or Last Name</u> by changing them in the text boxes, and clicking on the <b>Update Info</b> button.<br><br>
          The <u>Email Address</u> you created your account with is also shown, but for security reasons it cannot be changed.<br><br>
          To <u>Change Your Password</u>, type your current and new passwords into their respective fields, then click the <b>Change Password</b> button.<br>
          A password must be at least 7 characters long, and must contain an uppercase letter, a lowercase letter, and a number.<br>
          A green notification will be shown on screen if the password change was successful.<br><br>
          The <u>Active Projects</u> you've joined are listed at the bottom of the page.<br><br>
          To see the <u>Archived Projects</u> you've been a part of, navigate to the Projects page by selecting "Projects" in the navigation bar.
        </p>
      </ng-template>
    </nb-layout>
    
</div>
