.container {
  padding: 0px 20px 20px 20px;
}

.line {
  border-top: 1px solid;
  margin-bottom: 20px;
}

input,
textarea,
button {
  width: 100%;
  padding: 12px;
  resize: vertical;
}

label {
  padding: 10px 10px 10px 5px;
  display: inline-block;
}

.col-25,
.col-75 {
  float: left;
  width: 100%;
  margin-top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  width: 100%;
  margin-top: 13px;
  margin-bottom: 5px;
}

.header {
  background-color: transparent;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
  button {
    width: unset;
  }

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .form {
    padding: unset;
  }

  .row {
    padding: 10px;
  }
}