  .bg-dark {
    background-color: #232d9a !important;
  }

  #outerwrapper {
    height: 100%;
    overflow: hidden;
  }

  .card {
    padding-top: 80px;
  }

  /* Media query for tablet viewport targets screen size with a minimum width of 660px. */
  @media only screen and (min-width: 660px) {
    #outerwrapper {
      margin: auto;
      width: 500px;
    }

  }

  /* Media query for desktop viewport targets screens a minimum width of 830px. */
  @media only screen and (min-width: 830px) {


  }



  