#help {
    font-weight: bold;
    position: fixed;
    right: 25px;
    bottom: 25px;
}
  
#help nb-icon {
    width: 35px;
    height: 35px;    
}
  
#popoverStyle {
    p {
        margin: 20px;
    }
    position: fixed;
}