<div class="container">

  <div class="header">
    <h2>Projects</h2>
    <button (click)="openCreateNewProject()" nbButton status="success">
      <nb-icon class="adaptive-button-icon" icon="plus"></nb-icon>
      <span class="adaptive-button-text">Create Project</span>
    </button>
  </div>
    
  <div class="filter-section">
    <span>
      <input nbInput [nbFilterInput]="showActive ? activeDataSource : archivedDataSource" id="search" placeholder="Search">
    </span>
    <span>
      <nb-button-group size="small">
        <button nbButtonToggle pressed (click)="viewActiveProjects()">Active Projects</button>
        <button nbButtonToggle (click)="viewArchivedProjects()">Archived Projects</button>
      </nb-button-group>
    </span>
  </div>

  <table [nbTreeGrid]="showActive ? activeDataSource : archivedDataSource" [nbFilter]="" [nbSpinner]="showLoadingSpinner">
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="gridHeaders"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: gridHeaders"></tr>

    <ng-container nbTreeGridColumnDef="Client">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Client
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["clientName"] || '-'}}</td>
    </ng-container>

    <ng-container nbTreeGridColumnDef="Project Name">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Project Name
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["name"] || '-'}}</td>
    </ng-container>

    <ng-container nbTreeGridColumnDef="Actions">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Actions
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        <div class="actions">
          <a *ngIf="showActive">
            <button nbButton status="primary" (click)="copyInviteCode(row.data['inviteCode'])">
              <nb-icon class="adaptive-button-icon" icon="clipboard-outline"></nb-icon>
              <span class="adaptive-button-text">Copy Invite Code</span>
            </button>
          </a>
          <a [routerLink]="'/dashboard/projects/' + row.data['id']">
            <button nbButton status="primary">
              <nb-icon class="adaptive-button-icon" icon="eye-outline"></nb-icon>
              <span class="adaptive-button-text">View Details</span>
            </button>
          </a>
        </div>
      </td>
    </ng-container>
  </table>

  <div id="help"  [nbPopover]="popoverTemplate" nbPopoverTrigger="hint">
    <nb-icon icon="question-mark-circle"></nb-icon>
  </div>

  <nb-layout id="popoverStyle">
    <ng-template #popoverTemplate>
      <p>
        This is the main Projects page, all of the Projects you're part of are listed here.<br><br>
        Use the <u>Search Bar</u> to find Projects according to the name of the Client or the Project itself.<br><br>
        Use the <u>Create Projects</u> button to create a new Project.<br>
        Every Project is required to have a Client Name and a Project Name.<br><br>
        The <u>Copy Invite Code</u> button will copy a link to join a project to your clipboard.<br>
        This link can then be sent to anyone you want to invite to that project.<br>
        Anyone who uses the link to join a project will be required to login or make an NTime account if they haven't already.<br><br>
        Toggle between <u>Archived and Active Projects</u> using the buttons next to the Search bar.<br>
        Archived Projects are considered inactive, and cannot have new time entries or team members added to them.<br><br>
        The <u>View Details</u> button will take you to a new page to view specific details about that particular project.
      </p>
    </ng-template>
  </nb-layout>

</div>

