<div class="container">

  <div class="header">
    <h2>Projects</h2>
    <button (click)="openCreateNewProject()" nbButton status="success">
      <nb-icon class="adaptive-button-icon" icon="plus"></nb-icon>
      <span class="adaptive-button-text">Create Project</span>
    </button>
  </div>
    
  <div class="filter-section">
    <span>
      <input nbInput [nbFilterInput]="showActive ? activeDataSource : archivedDataSource" id="search" placeholder="Search">
    </span>
    <span>
      <nb-button-group size="small">
        <button nbButtonToggle pressed (click)="viewActiveProjects()">Active Projects</button>
        <button nbButtonToggle (click)="viewArchivedProjects()">Archived Projects</button>
      </nb-button-group>
    </span>
  </div>

  <table [nbTreeGrid]="showActive ? activeDataSource : archivedDataSource" [nbFilter]="" [nbSpinner]="showLoadingSpinner">
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="gridHeaders"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: gridHeaders"></tr>

    <ng-container nbTreeGridColumnDef="Client">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Client
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["clientName"] || '-'}}</td>
    </ng-container>

    <ng-container nbTreeGridColumnDef="Project Name">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Project Name
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data["name"] || '-'}}</td>
    </ng-container>

    <ng-container nbTreeGridColumnDef="Actions">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
        Actions
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        <div class="actions">
          <a *ngIf="showActive">
            <button nbButton status="primary" (click)="copyInviteCode(row.data['inviteCode'])">
              <nb-icon class="adaptive-button-icon" icon="clipboard-outline"></nb-icon>
              <span class="adaptive-button-text">Copy Invite Code</span>
            </button>
          </a>
          <a [routerLink]="'/dashboard/projects/' + row.data['id']">
            <button nbButton status="primary">
              <nb-icon class="adaptive-button-icon" icon="eye-outline"></nb-icon>
              <span class="adaptive-button-text">View Details</span>
            </button>
          </a>
        </div>
      </td>
    </ng-container>
  </table>

  <div id="help"  [nbPopover]="popoverTemplate" nbPopoverTrigger="hint">
    <nb-icon icon="question-mark-circle"></nb-icon>
  </div>

  <nb-layout id="popoverStyle">
    <ng-template #popoverTemplate>
      <p>
        This is the main Projects page, all of the projects you're part of are listed here.<br><br>
        <u>Search for Projects</u> by project name or team member name using the search bar above the table.<br><br>
        Toggle between <u>Archived and Active Projects</u> using the buttons next to the search bar.<br>
        Archived projects are considered inactive, and cannot have new time entries or team members added to them.<br><br>
        <u>Create a New Project</u> by clicking the <nb-icon icon="plus"></nb-icon><b class="adaptive-button-text"> Create Projects</b> button.<br>
        Every new project is required to have a client name and a project name.<br><br>
        To <u>Invite Team Members</u> to this project, click on the <nb-icon icon="clipboard-outline"></nb-icon><b> Copy Invite Code</b> button to copy an invite link to your clipboard.<br>
        You can then send this link to anyone who you'd like to invite to the project.<br>
        Other users who use this link to join the project will be required to login or make an NTime account if they haven't already.<br><br>
        <u>Navigate to the Project Details Page</u> for a project by clicking on the <nb-icon icon="eye-outline"></nb-icon><b class="adaptive-button-text"> View Details</b> button.
      </p>
    </ng-template>
  </nb-layout>

</div>

