<div class="container">
  <nb-layout-column>
    <div class="row">
      <nb-card-body>
        <div class="col-75">
          <button nbButton status="success" (click)="openDialog()">
            <nb-icon icon="plus"></nb-icon>
            Create Project
          </button>
        </div>
      </nb-card-body>
    </div>

    <div class="row">
      <nb-card-body>
        <div class="col-75">
          <nb-button-group size="small">
            <button nbButtonToggle pressed>Active Projects</button>
            <button nbButtonToggle>Archived Projects</button>
          </nb-button-group>
        </div>
      </nb-card-body>
    </div>

    <div class="row">
      <nb-card-body>
          <form class="example-form">
            <mat-form-field floatLabel="never">
              <input matInput (keyup)="applyFilter($event)" type="text" />
              <mat-placeholder class="placeholder">Filter</mat-placeholder>
            </mat-form-field>
          </form>

          <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <ng-container
              matColumnDef="{{ column }}"
              *ngFor="let column of columnsToDisplay"
            >
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplay.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="example-element-description">
                    {{ element.Details }}
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: columnsToDisplay"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="
                expandedElement = expandedElement === element ? null : element
              "
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
      </nb-card-body>
    </div>
  </nb-layout-column>
</div>
