<div class="container">
  <nb-layout-column>
    <div class="row">
      <div class="col-75">
        <button nbButton status="success">
          <nb-icon icon="plus"></nb-icon>
          Create Project
        </button>
      </div>
    </div>

    <div class="mobile">
      <div class="row">
        <div class="col-75">
          <nb-button-group size="medium">
            <button nbButtonToggle>A</button>
            <button nbButtonToggle>B</button>
            <button nbButtonToggle>C</button>
          </nb-button-group>
        </div>
      </div>
    </div>

    <h4 class="text-black">Projects</h4>
  </nb-layout-column>
</div>
