.mobile {
  display: inline;
}
.desktop {
  display: none;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 0px 20px 20px 20px;
}

.col-25,
.col-75 {
  width: 100%;
  margin-top: 0;
}

button {
  width: 100%;
  padding: 12px;
  border: 1px solid gray !important;
}

nb-select {
  width: 100%;
  border: 1px solid gray !important;
}

button {
  width: 100%;
  margin-top: 13px !important;
  margin-bottom: 5px !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
  padding-top: 20px;
}

.mat-form-field {
  font-size: 14px;
  border-bottom: 1px solid black;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding: 10px 30px 5px 10px;
}

th.mat-header-cell:first-of-type,
th.mat-header-cell:last-of-type {
  background-color: rgba($color: #bababa, $alpha: 0.2);
}

td.mat-cell:first-of-type,
td.mat-cell:last-of-type {
  background-color: rgba($color: white, $alpha: 0.3);
}

td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr.mat-header-row {
  height: 20px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

::ng-deep .nb-theme-default nb-button-group {
  width: 100%;
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  button {
    width: unset;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Media query for desktop viewport targets screens a minimum width of 830px. */
@media only screen and (min-width: 830px) {
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba($color: #232d9a, $alpha: 0.1);
  }

  tr.example-detail-row:not(.example-expanded-row):hover {
    background: rgba($color: #232d9a, $alpha: 0.1);
  }

}
