@import "../../../../app/styles/display.scss";

.desk {
  display: none !important;
}

.date-section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
  justify-content: space-between;
  text-align: center;
}

.button-control-section {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 60px;

  button {
    float: right;
    display: inline;
  }

  .return-date-section {
    display: inline;
    button {
      margin-right: 10px;
    }
  }

  .view-options-section {
    display: none;
  }

  .calendar-section {
    display: inline;
    float: left;
    button {
      float: unset !important;
    }
  }

  padding-top: 10px;
  padding-bottom: 10px;
}

.entry-detail-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  button {
    box-shadow: unset!important;
  }

  ul {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  ul li {
    display: inline-block;
  }

  .weekTime {
    display: none;
  }

  table {
    width: 100%;
  }

  th,
  td {
    padding: 10px;
  }

  #details {
    width: 50%;
  }

  .projectName {
    margin-bottom: 5px;
  }

  #buttons {
    display: flex;
    button {
      margin: 5px;
      width: unset;
    }
  }

  // [nbButton].appearance-filled.size-medium,
  .appearance-filled.size-medium[nbButtonToggle] {
    height: 100%;
    padding: 15px;
    width: 20%;
  }

  // [nbButton].appearance-filled.status-basic[disabled],
  .appearance-filled.status-basic[disabled][nbButtonToggle] {
    width: initial !important;
  }

  nb-button-group {
    width: 100%;
  }
}

.full-card {
  padding: unset !important;
  width: 100%;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px. */
@media only screen and (min-width: 660px) {
  .button-control-section {
    .calendar-section {
      margin-right: 10px;
    }
    .view-options-section {
      display: inline;
    }
    nb-button-group {
      display: inline;
      button {
        float: left !important;
        margin: unset;
      }
    }
    .edit-section {
      float: right !important;
      display: inline-flex;
      gap: 5px;
    }
  }

  .date-section {
    float: left;
    justify-content: space-between;
    align-items: center;

    .center-date {
      display: inline-flex;
      align-items: center;
      gap: 10px;
    }
  }

  .entry-detail-section {
    .weekTime {
      display: inline;
    }

    #details {
      width: 70%;
    }

    button {
      padding: 1vh 3.2vw !important;
    }

    #buttons {
      float: right;
      justify-content: center;
      button {
        padding: inherit !important;
      }

      #edit-icon {
        margin-right: 0 !important;
      }
    }

    [nbButton].appearance-outline.size-medium,
    .appearance-outline.size-medium[nbButtonToggle] {
      height: 100%;
      padding: 15px;
      width: 20%;
    }

    nb-button-group {
      width: 100%;
    }
  }

  .week-details-section {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

    table {
      width: 100%;

      th {
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .desk {
    display: table-cell !important;
  }
}

@media only screen and (max-width: 830px) {
  .adaptive-button-text {
    display: none;
  }

  .adaptive-button-icon {
    padding: 0 !important;
    margin: 0 !important;
  }
}
