<div class="container">
    <div class="date-section">
      <button nbButton (click)="decDate()" class="highlight-button">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>
      </button>

      <div class="center-date">
        <h2 *ngIf="dayView">
          {{ today | date: "fullDate" }}
        </h2>
        <h2 *ngIf="weekView">
          {{ weekStartDate | date }} - {{ weekEndDate | date }}
        </h2>
      </div>

      <button nbButton (click)="incDate()" class="highlight-button">
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </button>
    </div>

    <div class="button-control-section">
      <div class="calendar-section">
        <button
          nbButton
          [nbPopover]="tabs"
          nbPopoverTrigger="hover"
          nbPopoverPlacement="bottom"
        >
          <nb-icon icon="calendar"></nb-icon>
        </button>
        <ng-template #tabs>
          <nb-card-body>
            <nb-calendar [(date)]="today"> </nb-calendar>
          </nb-card-body>
        </ng-template>
      </div>

      <div class="view-options-section">
        <nb-button-group>
          <button nbButtonToggle [pressed]="dayView" (click)="setDayView()" [ngClass]="{'outline-button': !dayView}">Day</button>
          <button nbButtonToggle [pressed]="weekView" (click)="setWeekView()" [ngClass]="{'outline-button': !weekView}">Week</button>
        </nb-button-group>
      </div>

      <button (click)="openCreateNewTimeEntry()" *ngIf="!editMode" nbButton status="success">
        <nb-icon class="adaptive-button-icon" icon="plus"></nb-icon>
        <span class="adaptive-button-text">New Entry</span>
      </button>

      <div class="edit-section"  *ngIf="weekView && editMode">
        <button nbButton status="success">
          <nb-icon class="adaptive-button-icon" icon="save-outline"></nb-icon>
          <span class="adaptive-button-text">Save</span>
        </button>

        <button nbButton status="danger" >
          <nb-icon class="adaptive-button-icon" icon="close-outline"></nb-icon>
          <span class="adaptive-button-text">Cancel</span>
        </button>
      </div>



      <div class="return-date-section" *ngIf="notDate">
        <button nbButton status="primary" (click)="returnDate()">
          <nb-icon
            class="adaptive-button-icon"
            icon="arrow-forward-outline"
          ></nb-icon>
          <span class="adaptive-button-text">{{ returnText }}</span>
        </button>
      </div>
    </div>

    <div class="entry-detail-section" *ngIf="dayView">
      <nb-card class="full-card">
        <nb-card-body class="full-card">
            <nb-button-group>
              <button [ngClass]="{'outline-button': !daysActive[1]}" nbButtonToggle id="monday" pressed="{{ daysActive[1] }}" (click)="returnDayView(1)">
                M<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[2]}" nbButtonToggle id="tuesday" pressed="{{ daysActive[2] }}" (click)="returnDayView(2)">
                T<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[3]}" nbButtonToggle id="wednesday" pressed="{{ daysActive[3] }}" (click)="returnDayView(3)">
                W<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[4]}" nbButtonToggle id="thursday" pressed="{{ daysActive[4] }}" (click)="returnDayView(4)">
                R<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[5]}" nbButtonToggle id="friday" pressed="{{ daysActive[5] }}" (click)="returnDayView(5)">
                F<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[6]}" nbButtonToggle id="saturday" pressed="{{ daysActive[6] }}" (click)="returnDayView(6)">
                S<br />
              </button>

              <button [ngClass]="{'outline-button': !daysActive[0]}" nbButtonToggle id="sunday" pressed="{{  daysActive[0] }}" (click)="returnDayView(0)">
                S<br />
              </button>

              <div class="weekTime">
                <button nbButtonToggle class="weekTimeSpent" disabled>
                  Total: {{ weekTimeSpent }}
                </button>
              </div>
            </nb-button-group>

          <div class="entryListExist" *ngIf="dayView">
            <table [nbFilter]="" [nbSpinner]="showLoadingSpinner">
              <tbody>
                <tr *ngFor="let e of displayEvents">
                  <td id="details">
                    <div class="projectName">{{ e.project?.name }}</div>
                    <div class="projectNotes">{{ e.notes }}</div>
                  </td>

                  <td id="time">{{ e.length }}</td>

                  <td id="buttons">
                    <!-- <button
                      (click)="startStopTimer()"
                      nbButton
                      status="{{ timerBtnStatus }}"
                    >
                      <nb-icon
                        class="adaptive-button-icon"
                        icon="{{ timerBtnIcon }}"
                      ></nb-icon>
                      <span class="adaptive-button-text">{{
                        timerBtnText
                      }}</span>
                    </button> -->
                    <button (click)="openEditTimeEntry()" nbButton outline status="primary">
                      <nb-icon
                        style
                        class="adaptive-button-icon"
                        id="edit-icon"
                        icon="edit"
                      ></nb-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="week-details-section" *ngIf="weekView">
     <table [nbTreeGrid]="timeEntryDataSource" equalColumnsWidth>
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="gridHeaders"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: gridHeaders"></tr>

        <ng-container nbTreeGridColumnDef="ProjectName">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                Project
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Monday">
            <th nbTreeGridHeaderCell (click)="returnDayView(1)" *nbTreeGridHeaderCellDef>
                M<br />{{ monDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Tuesday">
            <th nbTreeGridHeaderCell  (click)="returnDayView(2)" *nbTreeGridHeaderCellDef>
                T<br />{{ tueDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Wednesday">
            <th nbTreeGridHeaderCell (click)="returnDayView(3)" *nbTreeGridHeaderCellDef>
                W<br />{{ wedDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Thursday">
            <th nbTreeGridHeaderCell  (click)="returnDayView(4)" *nbTreeGridHeaderCellDef>
                R<br />{{ thurDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Friday">
            <th nbTreeGridHeaderCell (click)="returnDayView(5)"*nbTreeGridHeaderCellDef>
                F<br />{{ friDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Saturday">
            <th nbTreeGridHeaderCell (click)="returnDayView(6)" *nbTreeGridHeaderCellDef>
                S<br />{{ satDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>

        <ng-container nbTreeGridColumnDef="Sunday">
            <th nbTreeGridHeaderCell (click)="returnDayView(0)" *nbTreeGridHeaderCellDef>
                S<br />{{ sunDate | date: "LLL d" }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            </td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Total">
            <th nbTreeGridHeaderCell class="desk" *nbTreeGridHeaderCellDef>
                Total: <br />{{ totalHours }}
            </th>
            <td nbTreeGridCell class="desk" *nbTreeGridCellDef="let row">
            </td>
        </ng-container>
    </table>
    </div>
</div>
