.container {
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  width: min(500px, 95vw);
}

.form-field {
  label {
    display: block;
  }

  input, textarea {
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

h4 {
  margin-top: 0px;
}

.actions-footer {
  button {
    margin-right: 10px;
  }
}