#outerwrapper {
    height: 100%;
    overflow: hidden;
  }
  
  
  body {
    background: linear-gradient(#232d9a 55%, transparent 55%);
  }
  
  /* Style specifies display of mobile view */
  #mobile {
    display: inline;
  }
  
  /* Style specifies to not display desktop biew */
  #desktop {
    display: none;
  }
  
  .bg-dark {
    background-color: #232d9a !important;
  }
  
  body {
    padding-top: 65px;
    text-align: center;
  }
  
  .navbar-nav {
    padding-left: 3%;
  }
  
  .row {
    --bs-gutter-x: ;
  }
  
  #trackerExample img {
    width: 90%;
  }
  
  footer {
    text-align: left !important;
  }
  
  /* Media query for tablet viewport targets screen size with a minimum width of 660px. */
  @media only screen and (min-width: 660px) {
    /* Style specifies display of mobile view */
    #mobile {
      display: none;
    }
  
    /* Style specifies to not display desktop biew */
    #desktop {
      display: inline;
    }
  
    .homeIntroDesk img {
      padding-top: 40px;
      padding-bottom: 40px;
      width: 60%;
    }
  
    body {
      background: linear-gradient(#232d9a 40%, transparent 40%);
    }
  
    .main {
      min-width: 100%;
    }
  }
  
  /* Media query for desktop viewport targets screens a minimum width of 830px. */
  @media only screen and (min-width: 830px) {
    .bg-light {
      background-color: transparent !important;
    }
  
    #outerwrapper {
      margin: auto;
      width: 860px;
    }
  
    .fixed-top {
      position: unset;
    }
  
    body {
      padding-top: unset;
    }
  
    .homeIntroDesk img {
      padding-top: unset;
    }
  
    .navbar-nav {
      padding-right: 20px;
      padding-left: 20px;
    }

    body {
      background: linear-gradient(#232d9a 30%, transparent 30%);
    }
  }
  