@import "../../../../app/styles/display.scss";

.report-button {
    justify-self: flex-end;
}

.hours-breakdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row {
    font-weight: bolder;
    font-size: large;
}

@media only screen and (max-width: 830px) {
    .adaptive-button-text{
        display: none;
    }

    .adaptive-button-icon{
    padding: 0 !important;
    margin: 0 !important;
    }
}


