@import "../../../../app/styles/display.scss";

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}

.header-row {
    font-weight: bolder;
    font-size: large;
}

@media only screen and (max-width: 830px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}
